@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap");
.legal-warning-container {
  background-color: rgba(3, 37, 47, 0.8);
  width: 100%;
  height: 100vh;
  height: expression(calc(calc(var(--vh, 1vh) * 100) - 48px));
  height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 48px));
  height: calc(calc(var(--vh, 1vh) * 100) - 48px);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.legal-warning-container .legal-warning-bg {
  background-color: #E7E7E7;
  width: 90%;
  height: 90%;
  min-height: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
}
.legal-warning-container .legal-warning-bg .legal-warning-exit {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  color: #9A746D;
  position: absolute;
  padding-right: 10px;
}
.legal-warning-container .legal-warning-bg .legal-warning-exit p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.legal-warning-container .legal-warning-bg .legal-warning-heading-text-container {
  width: 100%;
  height: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 15px 0;
}
.legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 {
  margin: 0;
  padding: 0;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 5.5vw;
  color: #4F6E72;
  line-height: 1.6em;
  text-align: center;
  padding: 15px 0 10px 0;
}
.legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 {
  width: 90%;
  height: 100%;
  background-color: #F8F8F8;
  overflow-y: scroll;
  border-radius: 10px;
}
.legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text {
  height: 80%;
  padding: 10px;
  width: 98%;
}
.legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text h3 {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: black;
}
.legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: black;
  line-height: 1.8em;
  margin: 0;
}
.legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: black;
  line-height: 1.8em;
  margin: 0;
}

@media only screen and (orientation: portrait) and (max-width: 281px) {
  .legal-warning-container .legal-warning-bg .legal-warning-exit {
    font-size: 1.5em;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 {
    font-size: 0.95em;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text h3 {
    font-size: 1.2em;
    padding-top: 10px;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text p {
    font-size: 0.9em;
    line-height: 1.6em;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text li {
    font-size: 0.9em;
    line-height: 1.6em;
  }
}
@media only screen and (orientation: landscape) {
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 {
    font-size: 2.8vw;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 #legal-warning-line-break {
    display: none;
  }
}
@media only screen and (orientation: landscape) and (max-width: 641px) {
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 {
    font-size: 3.5vw;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text h3 {
    font-size: 1.2em;
    padding-top: 10px;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text p {
    font-size: 0.9em;
    line-height: 1.6em;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text li {
    font-size: 0.9em;
    line-height: 1.6em;
  }
}
@media only screen and (orientation: landscape) and (max-width: 481px) {
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 {
    font-size: 1em;
  }
}
@media only screen and (orientation: landscape) and (max-width: 321px) {
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 {
    padding-top: 3px;
    font-size: 0.8em;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 #legal-warning-line-break {
    display: initial;
  }
}
@media only screen and (min-width: 600px) {
  .legal-warning-container .legal-warning-bg .legal-warning-exit {
    font-size: 2em;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 914px) {
  .legal-warning-container {
    height: 100vh;
    height: expression(calc(calc(var(--vh, 1vh) * 100) - 83px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 83px));
    height: calc(calc(var(--vh, 1vh) * 100) - 83px);
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 2560px) {
  .legal-warning-container {
    height: 100vh;
    height: expression(calc(calc(var(--vh, 1vh) * 100) - 158px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 158px));
    height: calc(calc(var(--vh, 1vh) * 100) - 158px);
  }
  .legal-warning-container .legal-warning-bg .legal-warning-exit {
    font-size: 3.5em;
    padding-right: 23px;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container h1 {
    font-size: 2.5vw;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text h3 {
    font-size: 2.2em;
    padding-top: 10px;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text p {
    font-size: 1.3em;
    line-height: 1.8em;
  }
  .legal-warning-container .legal-warning-bg .legal-warning-heading-text-container .legal-warning-text-box-1 .legal-warning-text-box-2 .legal-warning-text li {
    font-size: 1.3em;
    line-height: 1.8em;
  }
}
@media only screen and (min-width: 3840px) {
  .legal-warning-container .legal-warning-bg .legal-warning-exit {
    font-size: 4.5em;
    padding-right: 25px;
  }
}/*# sourceMappingURL=LegalWarning.css.map */