@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap");
.landing-container {
  height: 100vh;
  height: expression(calc(calc(var(--vh, 1vh) * 100) - 50px));
  height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
  height: calc(calc(var(--vh, 1vh) * 100) - 50px);
  min-height: 592px;
}

.landing-header-image {
  width: 100%;
  height: 80vh;
  height: expression(calc(var(--vh, 1vh) * 80));
  height: -o-calc(calc(var(--vh, 1vh) * 80));
  height: calc(var(--vh, 1vh) * 80);
  min-height: 513.6px;
  background-color: #F9BE7B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.landing-header-image .landing-heading-container {
  width: 100%;
  padding-top: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-header-image .landing-heading-container .landing-heading-text h2:first-of-type {
  margin-bottom: 25px;
}
.landing-header-image .landing-heading-container h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  margin-top: -25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 11vw;
  color: #F8F8F8;
  transition: 0.5s;
}
.landing-header-image .landing-heading-container h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 4.6vw;
  color: #F8F8F8;
  transition: 0.5s;
}
.landing-header-image .landing-heading-container .landing-tablet-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-header-image .landing-heading-container .landing-tablet-text h3 {
  width: 81%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #F8F8F8;
  text-align: left;
  line-height: 1.5em;
  transition: 0.5s;
}
@-webkit-keyframes wordChangeAnimation {
  0% {
    opacity: 0;
    transform: scale(0.99, 0.96);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes wordChangeAnimation {
  0% {
    opacity: 0;
    transform: scale(0.99, 0.96);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
}
.landing-header-image .landing-heading-container .wordChangeAnimation {
  -webkit-animation: wordChangeAnimation 1.5s ease-out infinite alternate forwards;
          animation: wordChangeAnimation 1.5s ease-out infinite alternate forwards;
}
.landing-header-image .landing-image-container {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-header-image .landing-image-container img {
  height: auto;
  width: 65%;
  margin: 10px 10px 10px 10px;
  transition: 0.5s;
}

.landing-text-container {
  background-color: white;
  width: 100%;
  height: 20vh;
  height: expression(calc(calc(var(--vh, 1vh) * 20) - 50px));
  height: -o-calc(calc(calc(var(--vh, 1vh) * 20) - 50px));
  height: calc(calc(var(--vh, 1vh) * 20) - 50px);
  min-height: 78.4px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.landing-text-container .landing-textbox {
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-text-container .landing-textbox h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #BC8282;
  text-align: left;
  line-height: 1.5em;
  transition: 0.5s;
  display: none;
}
.landing-text-container .landing-textbox .center-text {
  font-size: 1em;
  text-align: justify;
  line-height: 1.4em;
  margin: 0 0 4px 0;
}
.landing-text-container .landing-textbox a {
  margin-top: 0px;
  height: 40px;
  width: 70%;
  background-color: #F3DADA;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #BC8282;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
  text-decoration-line: none;
  text-decoration-style: none;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: none;
  -webkit-text-decoration-line: none;
  -webkit-text-decoration-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (orientation: portrait) and (max-width: 281px) and (max-height: 654px) {
  .landing-container {
    height: 100vh;
    height: expression(calc(calc(var(--vh, 1vh) * 100) - 50px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
    height: calc(calc(var(--vh, 1vh) * 100) - 50px);
    min-height: 435px;
    width: 100%;
    background-color: #F8F8F8;
  }

  .landing-header-image {
    height: 65vh;
    height: expression(calc(var(--vh, 1vh) * 65));
    height: -o-calc(calc(var(--vh, 1vh) * 65));
    height: calc(var(--vh, 1vh) * 65);
    min-height: 315.25px;
  }

  .landing-text-container {
    height: 35vh;
    height: expression(calc(calc(var(--vh, 1vh) * 35) - 50px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 35) - 50px));
    height: calc(calc(var(--vh, 1vh) * 35) - 50px);
    min-height: 119.74px;
    align-items: center;
  }
  .landing-text-container .landing-textbox a {
    margin: 10px 0 20px 0;
    height: 50px;
    width: 80%;
    min-width: 160px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #BC8282;
  }
}
@media only screen and (max-width: 241px) {
  .landing-container {
    height: auto;
  }

  .landing-header-image {
    height: 100vh;
    height: expression(calc(calc(var(--vh, 1vh) * 100) - 50px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
    height: calc(calc(var(--vh, 1vh) * 100) - 50px);
    justify-content: center;
  }
  .landing-header-image .landing-heading-container h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 5vw;
    color: #F8F8F8;
  }
  .landing-header-image .landing-heading-container h3 {
    display: none;
  }
  .landing-header-image .landing-image-container {
    max-width: 225px;
  }
  .landing-header-image .landing-image-container img {
    margin: 10px 10px 10px 10px;
  }

  .landing-text-container {
    height: auto;
    align-items: center;
  }
  .landing-text-container .landing-textbox {
    margin-top: 10px;
    max-width: 85%;
  }
  .landing-text-container .landing-textbox h3 {
    display: initial;
  }
  .landing-text-container .landing-textbox .center-text {
    text-align: center;
    font-size: 0.9em;
  }
  .landing-text-container .landing-textbox a {
    margin: 10px 0 20px 0;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #BC8282;
  }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-height: 645px) {
  .landing-container {
    min-height: initial;
  }

  .landing-header-image {
    height: 75vh;
    height: expression(calc(var(--vh, 1vh) * 75));
    height: -o-calc(calc(var(--vh, 1vh) * 75));
    height: calc(var(--vh, 1vh) * 75);
    min-height: initial;
  }
  .landing-header-image .landing-heading-container h2 {
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 4.2vw;
    color: #F8F8F8;
  }
  .landing-header-image .landing-heading-container .landing-tablet-text h3 {
    width: 85%;
    text-align: center;
  }
  .landing-header-image .landing-image-container img {
    width: 60%;
    margin: 3px 3px 8px 3px;
  }

  .landing-text-container {
    height: 25vh;
    height: expression(calc(calc(var(--vh, 1vh) * 25) - 50px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 25) - 50px));
    height: calc(calc(var(--vh, 1vh) * 25) - 50px);
    min-height: initial;
  }
  .landing-text-container .landing-textbox a {
    height: 35px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 320px) and (max-height: 530px) {
  .landing-container {
    min-height: 391.99px;
  }

  .landing-header-image {
    min-height: 331.5px;
  }

  .landing-text-container {
    min-height: 60.49px;
  }
}
@media only screen and (min-width: 540px) {
  .landing-container {
    min-height: 570px;
  }

  .landing-header-image {
    height: 80vh;
    height: expression(calc(var(--vh, 1vh) * 80));
    height: -o-calc(calc(var(--vh, 1vh) * 80));
    height: calc(var(--vh, 1vh) * 80);
    min-height: 496px;
  }
  .landing-header-image .landing-heading-container h1 {
    font-size: 9vw;
  }
  .landing-header-image .landing-image-container img {
    width: 55%;
  }

  .landing-text-container {
    height: 20vh;
    height: expression(calc(calc(var(--vh, 1vh) * 20) - 50px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 20) - 50px));
    height: calc(calc(var(--vh, 1vh) * 20) - 50px);
    min-height: 73.99px;
  }
  .landing-text-container .landing-textbox a {
    height: 6vh;
    min-height: 35px;
    width: 55%;
    min-width: 200px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #BC8282;
  }
}
@media only screen and (min-width: 600px) {
  .landing-container {
    min-height: 615px;
  }

  .landing-header-image {
    height: 80vh;
    height: expression(calc(var(--vh, 1vh) * 80));
    height: -o-calc(calc(var(--vh, 1vh) * 80));
    height: calc(var(--vh, 1vh) * 80);
    min-height: 532px;
  }
  .landing-header-image .landing-image-container img {
    width: 50%;
  }
  .landing-header-image .landing-heading-container .landing-tablet-text h3 {
    font-size: 1.2em;
    letter-spacing: 0.3px;
  }

  .landing-text-container {
    height: 25vh;
    height: expression(calc(calc(var(--vh, 1vh) * 20) - 50px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 20) - 50px));
    height: calc(calc(var(--vh, 1vh) * 20) - 50px);
    min-height: 82.99px;
  }
  .landing-text-container .landing-textbox h3 {
    font-size: 3.4vw;
    line-height: 1.8em;
  }
  .landing-text-container .landing-textbox a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 4vw;
    color: #BC8282;
  }
}
@media only screen and (min-width: 914px) {
  .landing-container {
    height: expression(calc(calc(var(--vh, 1vh) * 100) - 130px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 130px));
    height: calc(calc(var(--vh, 1vh) * 100) - 130px);
    min-height: 850px;
  }

  .landing-header-image {
    height: 75vh;
    height: expression(calc(var(--vh, 1vh) * 75));
    height: -o-calc(calc(var(--vh, 1vh) * 75));
    height: calc(var(--vh, 1vh) * 75);
    min-height: 735px;
  }
  .landing-header-image .landing-heading-container .landing-tablet-text h3 {
    font-size: 1.4em;
    letter-spacing: 0.3px;
  }

  .landing-text-container {
    height: 25vh;
    height: expression(calc(calc(var(--vh, 1vh) * 25) - 130px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 25) - 130px));
    height: calc(calc(var(--vh, 1vh) * 25) - 130px);
    min-height: 115px;
  }
  .landing-text-container .landing-textbox h3 {
    font-size: 2.8vw;
    line-height: 1.8em;
  }
}
@media only screen and (orientation: landscape) {
  .landing-container {
    height: 100vh;
    height: expression(calc(calc(var(--vh, 1vh) * 100) - 50px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
    height: calc(calc(var(--vh, 1vh) * 100) - 50px);
    min-height: 250px;
    width: 100%;
    background-color: #F8F8F8;
  }

  .landing-header-image {
    height: 60vh;
    height: expression(calc(var(--vh, 1vh) * 60));
    height: -o-calc(calc(var(--vh, 1vh) * 60));
    height: calc(var(--vh, 1vh) * 60);
    min-height: 180px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .landing-header-image .landing-heading-container {
    padding-top: initial;
    width: 100%;
    display: initial;
    flex-direction: initial;
    justify-content: initial;
    align-items: initial;
  }
  .landing-header-image .landing-heading-container .landing-heading-text h2:first-of-type {
    margin-bottom: 25px;
  }
  .landing-header-image .landing-heading-container h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    margin-top: -25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 6.5vw;
    color: #F8F8F8;
    transition: 0.5s;
  }
  .landing-header-image .landing-heading-container h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.78em;
    color: #F8F8F8;
    transition: 0.5s;
  }
  .landing-header-image .landing-heading-container .landing-tablet-text {
    display: initial;
    justify-content: initial;
    align-items: initial;
  }
  .landing-header-image .landing-heading-container .landing-tablet-text h3 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    color: #F8F8F8;
    text-align: left;
    line-height: 1.7em;
    transition: 0.5s;
  }
  .landing-header-image .landing-image-container {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-header-image .landing-image-container img {
    height: auto;
    width: 70%;
    margin: 30px 10px 30px 10px;
  }

  .landing-text-container {
    background-color: white;
    width: 100%;
    height: 40vh;
    height: expression(calc(calc(var(--vh, 1vh) * 40) - 50px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 40) - 50px));
    height: calc(calc(var(--vh, 1vh) * 40) - 50px);
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-center;
  }
  .landing-text-container .landing-textbox {
    max-width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing-text-container .landing-textbox h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #BC8282;
    text-align: justify;
    line-height: 1.7em;
    transition: 0.5s;
  }
  .landing-text-container .landing-textbox .center-text {
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.6em;
  }
  .landing-text-container .landing-textbox a {
    margin: 3px;
    height: 45px;
    width: 60%;
    min-width: 190px;
    background-color: #F3DADA;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #BC8282;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    text-decoration-line: none;
    text-decoration-style: none;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: none;
    -webkit-text-decoration-line: none;
    -webkit-text-decoration-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (orientation: landscape) and (max-width: 321px) {
  .landing-container {
    height: auto;
    min-height: initial;
  }

  .landing-header-image {
    height: auto;
    min-height: initial;
  }
  .landing-header-image .landing-heading-container h2 {
    margin-bottom: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 4vw;
    color: #F8F8F8;
  }
  .landing-header-image .landing-heading-container h3 {
    display: none;
  }

  .landing-text-container {
    height: auto;
    min-height: initial;
  }
  .landing-text-container .landing-textbox .center-text {
    margin: 15px 0 10px 0;
    font-size: 1em;
    text-align: left;
    line-height: 1.5em;
    display: initial;
  }
  .landing-text-container .landing-textbox a {
    margin: 5px 5px 30px 5px;
    height: 40px;
    width: 80%;
    min-width: 180px;
    background-color: #F3DADA;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #BC8282;
  }
}
@media only screen and (orientation: landscape) and (min-width: 568px) {
  .landing-container {
    height: expression(calc(calc(var(--vh, 1vh) * 100) - 50px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
    height: calc(calc(var(--vh, 1vh) * 100) - 50px);
    min-height: 297px;
  }

  .landing-header-image {
    height: 65vh;
    height: expression(calc(var(--vh, 1vh) * 60));
    height: -o-calc(calc(var(--vh, 1vh) * 60));
    height: calc(var(--vh, 1vh) * 60);
    min-height: 208.2px;
  }
  .landing-header-image .landing-heading-container {
    width: 50%;
  }
  .landing-header-image .landing-heading-container h2 {
    font-size: 2.2vw;
  }
  .landing-header-image .landing-heading-container .landing-tablet-text {
    text-align: left;
  }
  .landing-header-image .landing-heading-container .landing-tablet-text h3 {
    width: 95%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #F8F8F8;
    line-height: 1.7em;
    transition: 0.5s;
  }
  .landing-header-image .landing-image-container {
    height: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-header-image .landing-image-container img {
    height: auto;
    width: 65%;
    margin: 20px 10px 20px 10px;
  }

  .landing-text-container {
    height: expression(calc(calc(var(--vh, 1vh) * 40) - 50px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 40) - 50px));
    height: calc(calc(var(--vh, 1vh) * 40) - 50px);
    min-height: 88.8px;
  }
  .landing-text-container .landing-textbox h3 {
    display: none;
  }
  .landing-text-container .landing-textbox a {
    height: 6vw;
    min-height: 45px;
    width: 50%;
    min-width: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2.8vw;
    color: #BC8282;
  }
}
@media only screen and (orientation: landscape) and (min-width: 568px) and (max-height: 321px) {
  .landing-container {
    min-height: initial;
  }

  .landing-header-image {
    height: 60vh;
    height: expression(calc(var(--vh, 1vh) * 60));
    height: -o-calc(calc(var(--vh, 1vh) * 60));
    height: calc(var(--vh, 1vh) * 60);
    min-height: initial;
  }
  .landing-header-image .landing-heading-container {
    width: 60%;
  }
  .landing-header-image .landing-heading-container h1 {
    font-size: 2.4em;
  }
  .landing-header-image .landing-heading-container h2 {
    font-size: 1em;
  }
  .landing-header-image .landing-heading-container .landing-tablet-text h3 {
    font-size: 0.9em;
    line-height: 1.4em;
  }
  .landing-header-image .landing-image-container {
    width: 40%;
  }
  .landing-header-image .landing-image-container img {
    width: 70%;
    margin: 5px 5px 5px 5px;
  }

  .landing-text-container {
    min-height: expression(calc(calc(var(--vh, 1vh) * 40) - 50px));
    min-height: -o-calc(calc(calc(var(--vh, 1vh) * 40) - 50px));
    min-height: calc(calc(var(--vh, 1vh) * 40) - 50px);
    min-height: initial;
  }
  .landing-text-container .landing-textbox a {
    height: 5vw;
    min-height: 40px;
    width: 30vw;
    min-width: 230px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    color: #BC8282;
  }
}
@media only screen and (orientation: landscape) and (min-width: 568px) and (max-height: 281px) {
  .landing-container {
    min-height: 198px;
  }

  .landing-header-image {
    min-height: 148.8px;
  }
  .landing-header-image .landing-heading-container {
    width: 60%;
  }
  .landing-header-image .landing-heading-container h2 {
    font-size: 0.95em;
  }
  .landing-header-image .landing-heading-container .landing-tablet-text h3 {
    font-size: 0.9em;
  }
  .landing-header-image .landing-image-container {
    width: 40%;
  }
  .landing-header-image .landing-image-container img {
    width: 70%;
  }

  .landing-text-container {
    min-height: 49.2px;
  }
  .landing-text-container .landing-textbox a {
    height: 5.5vw;
    min-height: 30px;
    width: 30vw;
    min-width: 220px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.05em;
    color: #BC8282;
  }
}
@media only screen and (orientation: landscape) and (min-width: 914px) {
  .landing-container {
    height: expression(calc(calc(var(--vh, 1vh) * 100) - 130px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 130px));
    height: calc(calc(var(--vh, 1vh) * 100) - 130px);
    min-height: 510px;
  }

  .landing-header-image {
    height: 60vh;
    height: expression(calc(var(--vh, 1vh) * 60));
    height: -o-calc(calc(var(--vh, 1vh) * 60));
    height: calc(var(--vh, 1vh) * 60);
    min-height: 336px;
  }
  .landing-header-image .landing-heading-container h2 {
    font-size: 2vw;
  }

  .landing-text-container {
    height: expression(calc(calc(var(--vh, 1vh) * 40) - 130px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 40) - 130px));
    height: calc(calc(var(--vh, 1vh) * 40) - 130px);
    min-height: 94px;
  }
  .landing-text-container .landing-textbox a {
    height: 5vw;
    width: 30vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2vw;
    color: #BC8282;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1280px) {
  .landing-placeholder {
    height: 100vh;
    height: expression(calc(calc(var(--vh, 1vh) * 100) - 130px));
    height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 130px));
    height: calc(calc(var(--vh, 1vh) * 100) - 130px);
    min-height: 472px;
    width: 100%;
  }

  .bg-landing-colours {
    width: 100%;
    position: absolute;
  }

  .bg-landing-top-colour {
    top: 0;
    left: 0;
    background-color: #F9BE7B;
    height: 55vh;
    height: expression(calc(var(--vh, 1vh) * 55));
    height: -o-calc(calc(var(--vh, 1vh) * 55));
    height: calc(calc(var(--vh, 1vh) * 55));
    min-height: 331.09px;
    z-index: -5;
  }

  .bg-landing-bottom-colour {
    top: 0;
    left: 0;
    background-color: #F8F8F8;
    height: 100vh;
    height: expression(calc(var(--vh, 1vh) * 100));
    height: -o-calc(calc(var(--vh, 1vh) * 100));
    height: calc(calc(var(--vh, 1vh) * 100));
    min-height: 601.99px;
    top: 0;
    z-index: -10;
  }

  .landing-container {
    background-color: initial;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    height: expression(calc(var(--vh, 1vh) * 100));
    height: -o-calc(calc(var(--vh, 1vh) * 100));
    height: calc(calc(var(--vh, 1vh) * 100));
    min-height: 601.99px;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 55% 45%;
    grid-template-areas: "landingImage landingHeading" "landingImage landingText";
  }

  .landing-image-container {
    height: 100vh;
    height: expression(calc(var(--vh, 1vh) * 100));
    height: -o-calc(calc(var(--vh, 1vh) * 100));
    height: calc(calc(var(--vh, 1vh) * 100));
    min-height: 601.99px;
    width: 100%;
    grid-area: landingImage;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .landing-image-container img {
    height: auto;
    width: 75%;
    max-width: 643px;
    margin: 130px 30px 30px 30px;
    transition: 0.5s;
  }

  .landing-header-image {
    width: 100%;
    height: 55vh;
    height: expression(calc(var(--vh, 1vh) * 55));
    height: -o-calc(calc(var(--vh, 1vh) * 55));
    height: calc(calc(var(--vh, 1vh) * 55));
    min-height: 331.09px;
    background-color: initial;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: landingHeading;
  }
  .landing-header-image .landing-heading-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: initial;
    height: initial;
  }
  .landing-header-image .landing-heading-container h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
    margin-top: -25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 6vw;
    color: #F8F8F8;
    transition: 0.5s;
  }
  .landing-header-image .landing-heading-container h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #F8F8F8;
    font-size: 1.7vw;
    transition: 0.5s;
  }
  .landing-header-image .landing-heading-container .landing-tablet-text {
    display: none;
  }

  .landing-text-container {
    grid-area: landingText;
    background-color: initial;
    width: 100%;
    height: 100%;
    min-height: 270.89px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .landing-text-container .landing-textbox {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: initial;
    justify-content: initial;
    align-items: initial;
  }
  .landing-text-container .landing-textbox h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #BC8282;
    text-align: left;
    line-height: 2em;
    transition: 0.5s;
    display: initial;
  }
  .landing-text-container .landing-textbox .center-text {
    font-size: initial;
    text-align: initial;
    line-height: initial;
    margin: initial;
  }
  .landing-text-container .landing-textbox a {
    margin-top: 10px;
    height: 6vh;
    min-height: 60px;
    width: 50%;
    background-color: #F3DADA;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    color: #BC8282;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;
    text-decoration-line: none;
    text-decoration-style: none;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: none;
    -webkit-text-decoration-line: none;
    -webkit-text-decoration-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .landing-text-container .landing-textbox a:hover {
    background-color: rgba(243, 218, 218, 0.6);
    transform: scale(1.05);
  }
  .landing-text-container .landing-textbox a:active {
    transform: scale(1);
  }
}
@media only screen and (orientation: landscape) and (min-width: 1600px) {
  .landing-placeholder {
    min-height: 544px;
  }

  .bg-landing-top-colour {
    min-height: 372px;
  }

  .bg-landing-bottom-colour {
    min-height: 676px;
  }

  .landing-container {
    min-height: 675px;
  }

  .landing-image-container {
    min-height: 675px;
  }
  .landing-image-container img {
    width: 75%;
    max-width: initial;
  }

  .landing-header-image {
    min-height: 371.25px;
  }
  .landing-header-image .landing-text-container {
    min-height: 303.75px;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1750px) {
  .landing-image-container img {
    width: 70%;
    max-width: 756px;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1900px) {
  .landing-placeholder {
    min-height: 949.99px;
  }

  .bg-landing-top-colour {
    min-height: 411.94px;
  }

  .bg-landing-bottom-colour {
    min-height: 748.99px;
  }

  .landing-container {
    min-height: 748.99px;
  }

  .landing-image-container {
    min-height: 748.99px;
  }
  .landing-image-container img {
    width: 75%;
    max-width: 800px;
  }

  .landing-header-image {
    min-height: 411.94px;
  }
  .landing-header-image .landing-heading-container h1 {
    font-size: 5vw;
  }
  .landing-header-image .landing-heading-container h2 {
    font-size: 1.6vw;
  }

  .landing-text-container {
    min-height: 337.04px;
  }
}
@media only screen and (orientation: landscape) and (min-width: 2560px) {
  .landing-placeholder {
    min-height: 949.99px;
  }

  .bg-landing-top-colour {
    min-height: 594px;
  }

  .bg-landing-bottom-colour {
    min-height: 1080px;
  }

  .landing-container {
    min-height: 1080px;
    grid-template-columns: 55% 45%;
    grid-template-rows: 55% 45%;
  }

  .landing-image-container {
    min-height: 1080px;
  }
  .landing-image-container img {
    width: 75%;
    max-width: 1200px;
  }

  .landing-header-image {
    min-height: 594px;
  }
  .landing-header-image .landing-heading-container h1 {
    font-size: 5.5vw;
  }
  .landing-header-image .landing-heading-container h2 {
    font-size: 1.65vw;
  }

  .landing-text-container {
    min-height: 486px;
  }
  .landing-text-container .landing-textbox h3 {
    font-size: 1vw;
  }
  .landing-text-container .landing-textbox a {
    font-size: 1.2vw;
    min-height: 80px;
  }
}
@media only screen and (orientation: landscape) and (min-width: 3500px) {
  .landing-placeholder {
    min-height: 1315px;
  }

  .bg-landing-top-colour {
    min-height: 794.74px;
  }

  .bg-landing-bottom-colour {
    min-height: 1444.99px;
  }

  .landing-container {
    min-height: 1444.99px;
    grid-template-columns: 55% 45%;
    grid-template-rows: 55% 45%;
  }

  .landing-image-container {
    min-height: 1444.99px;
  }
  .landing-image-container img {
    width: 75%;
    max-width: 1650px;
  }

  .landing-header-image {
    min-height: 794.74px;
  }
  .landing-header-image .landing-heading-container h1 {
    font-size: 5.5vw;
  }
  .landing-header-image .landing-heading-container h2 {
    font-size: 1.65vw;
  }

  .landing-text-container {
    min-height: 650.24px;
  }
  .landing-text-container .landing-textbox h3 {
    font-size: 1vw;
  }
  .landing-text-container .landing-textbox a {
    font-size: 1.2vw;
    min-height: 140px;
  }
}
@media only screen and (orientation: landscape) and (min-width: 5000px) {
  .landing-placeholder {
    min-height: 2104.99px;
  }

  .bg-landing-top-colour {
    min-height: 1229.25px;
  }

  .bg-landing-bottom-colour {
    min-height: 2235px;
  }

  .landing-container {
    min-height: 2235px;
    grid-template-columns: 55% 45%;
    grid-template-rows: 55% 45%;
  }

  .landing-image-container {
    min-height: 2235px;
  }
  .landing-image-container img {
    width: 80%;
    max-width: 2860px;
  }

  .landing-header-image {
    min-height: 1229.25px;
  }
  .landing-header-image .landing-heading-container h1 {
    font-size: 5.5vw;
  }
  .landing-header-image .landing-heading-container h2 {
    font-size: 1.65vw;
  }

  .landing-text-container {
    min-height: 1005.75px;
  }
  .landing-text-container .landing-textbox h3 {
    font-size: 1vw;
  }
  .landing-text-container .landing-textbox a {
    font-size: 1.2vw;
    min-height: 160px;
  }
}/*# sourceMappingURL=Landing.css.map */