@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap");
.landing-colours {
  width: 100%;
  position: absolute;
}

.landing-top-colour {
  background-color: #F9BE7B;
  height: 50vh;
  z-index: -5;
}

.landing-bottom-colour {
  background-color: #F8F8F8;
  height: 100vh;
  top: 0;
  z-index: -10;
}

.landing-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "landingImage landingHeading" "landingImage landingText";
}
.landing-container .landing-image-container {
  height: 100vh;
  width: 100%;
  grid-area: landingImage;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-container .landing-image-container img {
  height: auto;
  width: auto;
  margin: 0px 30px 30px 30px;
  padding-top: 130px;
  transition: 0.5s;
}
.landing-container .landing-heading-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  grid-area: landingHeading;
}
.landing-container .landing-heading-container h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  margin-top: -25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 6.5em;
  color: #F8F8F8;
  transition: 0.5s;
}
@media only screen and (max-width: 361px) {
  .landing-container .landing-heading-container h1 {
    font-size: 4em;
  }
}
.landing-container .landing-heading-container h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: #F8F8F8;
  transition: 0.5s;
}
@-webkit-keyframes wordChangeAnimation {
  0% {
    opacity: 0;
    transform: scale(0.99, 0.96);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes wordChangeAnimation {
  0% {
    opacity: 0;
    transform: scale(0.99, 0.96);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
}
.landing-container .landing-heading-container .wordChangeAnimation {
  -webkit-animation: wordChangeAnimation 1.5s ease-out infinite alternate forwards;
          animation: wordChangeAnimation 1.5s ease-out infinite alternate forwards;
}
.landing-container .landing-text-container {
  grid-area: landingText;
}
.landing-container .landing-text-container .landing-textbox {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.landing-container .landing-text-container .landing-textbox h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #BC8282;
  text-align: justify;
  line-height: 2em;
  transition: 0.5s;
}
.landing-container .landing-text-container .landing-textbox a {
  margin-top: 10px;
  height: 60px;
  width: 300px;
  background-color: #F3DADA;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: #BC8282;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-container .landing-text-container .landing-textbox a:hover {
  background-color: rgba(243, 218, 218, 0.6);
  transform: scale(1.05);
}
.landing-container .landing-text-container .landing-textbox a:active {
  transform: scale(1);
}/*# sourceMappingURL=Landing.css.map */