@import "../../utilities/variables.scss";

.landing-colours {
  width: 100%;
  position: absolute;
}

.landing-top-colour {
  background-color: $main-yellow;
  height: 50vh;
  z-index: -5;
}

.landing-bottom-colour {
  background-color: $main-grey;
  height: 100vh;
  top: 0;
  z-index: -10;
}

.landing-container {
  //background-color: $main-yellow;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "landingImage landingHeading"
    "landingImage landingText";

  .landing-image-container {
    height: 100vh;
    width: 100%;
    grid-area: landingImage;
    //background-color: rgba($color: aqua, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: auto;
      width: auto;
      margin: 0px 30px 30px 30px;
      padding-top: 130px;
      transition: 0.5s;
    }
  }

  .landing-heading-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    grid-area: landingHeading;
    //background-color: rgba($color: red, $alpha: 0.5);

    h1 {
      margin: 0;
      padding: 0;
      margin-bottom: 7px;
      margin-top: -25px;
      @include main-heading($main-grey);
      //font-size: 5.5vw;
      transition: 0.5s;
    }

    h2 {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      @include custom-Roboto($main-grey, 2em, 500);
      //font-size: 1.7vw;
      transition: 0.5s;
    }

    @keyframes wordChangeAnimation {
      0% {
        opacity: 0;
        transform: scale(0.99, 0.96);
      }

      80% {
        opacity: 1;
        transform: scale(1);
      }
    }

    .wordChangeAnimation {
      animation: wordChangeAnimation 1.5s ease-out infinite alternate forwards;
    }
  }

  .landing-text-container {
    grid-area: landingText;
    //background-color: rgba($color: green, $alpha: 0.5);

    .landing-textbox {
      width: 500px;
      height: auto;
      display: flex;
      flex-direction: column;

      h3 {
        @include bulk-text($dark-1-red);
        text-align: justify;
        line-height: 2em;
        transition: 0.5s;
      }

      a {
        margin-top: 10px;
        height: 60px;
        width: 300px;
        background-color: $light-red;
        @include custom-Roboto($dark-1-red, 2em, 400);
        border-radius: 10px;
        align-self: center;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgba($color: $light-red, $alpha: 0.6);
          transform: scale(1.05);
        }

        &:active {
          transform: scale(1);
        }
      }
    }
  }
}

// MEDIA QUERIES //