@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap");
.show-item {
  display: initial;
}

.hide-item {
  display: none;
}

.contact-container {
  height: auto;
  width: 100%;
  background-color: #92C8B6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 30px 0;
}
.contact-container h1 {
  margin: 0 0 7.5px 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2.8em;
  color: #F8F8F8;
}
@media only screen and (max-width: 320px) {
  .contact-container h1 {
    font-size: 2.4em;
  }
}
@media only screen and (min-width: 800px) {
  .contact-container h1 {
    font-size: 3.3em;
  }
}
@media only screen and (min-width: 1280px) {
  .contact-container h1 {
    font-size: 4em;
  }
}
@media only screen and (min-width: 2560px) {
  .contact-container h1 {
    font-size: 6em;
  }
}
@media only screen and (min-width: 3840px) {
  .contact-container h1 {
    font-size: 8em;
  }
}
.contact-container .contact-details-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-container .contact-details-form-container .contact-details-container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-container .contact-details-form-container .contact-details-container .contact-details-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 12.5px 20px 12.5px 0;
}
.contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-icon {
  height: 35px;
  width: 35px;
  min-height: 35px;
  min-width: 35px;
}
.contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-icon svg {
  fill: #F8F8F8;
}
.contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a {
  text-decoration: none;
  padding-left: 10px;
}
.contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 4vw;
  color: #F8F8F8;
  padding: 0;
  margin: 0;
}
.contact-container .contact-details-form-container .contact-form-container {
  width: 100%;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box {
  padding-top: 30px;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .bottom-margin {
  margin-bottom: 20px;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 5.5vw;
  color: #F8F8F8;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element input {
  margin-top: 10px;
  width: 85vw;
  height: 40px;
  border-radius: 10px;
  border: solid 1px #F8F8F8;
  outline-color: #F8F8F8;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: black;
  padding-left: 10px;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea {
  padding: 15px 0;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 5.5vw;
  color: #F8F8F8;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea textarea {
  resize: none;
  width: 85vw;
  margin-top: 10px;
  height: auto;
  min-height: 100px;
  border-radius: 10px;
  border: solid 1px #F8F8F8;
  outline-color: #F8F8F8;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: black;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85vw;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox #checkbox {
  width: 20px;
  height: 20px;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #F8F8F8;
  padding-left: 10px;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox-label p {
  margin: 0;
  cursor: pointer;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right button {
  background-color: #F8F8F8;
  border: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #4F6E72;
  width: 60%;
  height: 60px;
  margin-top: 20px;
  opacity: 0.5;
}
.contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .form-fields-filled {
  opacity: 1;
  cursor: pointer;
}

@media only screen and (orientation: portrait) and (min-width: 600px) {
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail {
    padding: 12.5px 20px 25px 0;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-icon {
    height: 50px;
    width: 50px;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a {
    padding-left: 15px;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    font-size: 3vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box {
    padding-top: 20px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
    font-size: 3.5vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element input {
    margin-top: 15px;
    height: 50px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
    font-size: 3.5vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea textarea {
    margin-top: 15px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container {
    justify-content: flex-start;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right button {
    width: 50%;
    margin-top: 30px;
  }
}
@media only screen and (orientation: portrait) and (min-width: 600px) and (min-width: 1024px) {
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    font-size: 1.8em;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
    font-size: 2em;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
    font-size: 2em;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container {
    padding-top: 5px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox #checkbox {
    width: 25px;
    height: 25px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox-label {
    font-size: 1.2em;
    line-height: 1.4em;
    padding-left: 15px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right button {
    font-size: 2em;
  }
}
@media only screen and (orientation: portrait) and (max-width: 400px) {
  .contact-container .contact-details-form-container .contact-details-container {
    width: 90vw;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-icon {
    height: 30px;
    width: 30px;
    min-height: 30px;
    min-width: 30px;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    font-size: 4.2vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
    font-size: 5.5vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element input {
    width: 90vw;
    font-size: 1em;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
    font-size: 5.5vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea textarea {
    width: 90vw;
    font-size: 1em;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container {
    width: 90vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox-label {
    font-size: 0.9em;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right button {
    width: 65%;
    height: 55px;
    margin-top: 25px;
  }
}
@media only screen and (orientation: portrait) and (max-width: 281px) {
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-icon {
    height: 25px;
    width: 25px;
    min-height: 25px;
    min-width: 25px;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    font-size: 5vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
    font-size: 6.5vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
    font-size: 6.5vw;
  }
}
@media only screen and (orientation: landscape) {
  .contact-container .contact-details-form-container {
    flex-direction: column;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .desktop-contact-details {
    width: 50%;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .mobile-contact-details {
    width: 50%;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 12.5px 5px 12.5px 0;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    font-size: 2.1vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
    font-size: 3vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
    font-size: 3vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container {
    justify-content: flex-start;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right button {
    align-self: flex-start;
    width: 30%;
    margin-left: 7.5vw;
  }
}
@media only screen and (orientation: landscape) and (max-width: 569px) {
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box {
    flex-direction: column;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .desktop-contact-details {
    width: 100%;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .mobile-contact-details {
    width: 100%;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail {
    width: 100%;
    justify-content: flex-start;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    font-size: 1.2em;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
    font-size: 1.2em;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
    font-size: 1.2em;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox-label {
    font-size: 0.9em;
  }
}
@media only screen and (orientation: landscape) and (max-width: 351px) {
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    font-size: 1em;
  }
}
@media only screen and (orientation: landscape) and (min-width: 960px) {
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    font-size: 2vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
    font-size: 2.8vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
    font-size: 2.8vw;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1280px) {
  .contact-container h1 {
    margin: 0 0 30px 0;
    padding: 0;
  }
  .contact-container .contact-details-form-container {
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
    padding-bottom: 20px;
    flex-direction: row;
  }
  .contact-container .contact-details-form-container .contact-details-container {
    width: 35%;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: none;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .desktop-contact-details {
    width: 100%;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px 25px 0;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-icon {
    height: 45px;
    width: 45px;
    min-height: 45px;
    min-width: 45px;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    font-size: 2vw;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-social-media {
    display: flex;
    flex-direction: column;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-social-media h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    color: #F8F8F8;
    padding: 0;
    margin: 40px 0 30px 0;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-social-media .contact-social-icons a {
    margin: 0 30px 20px 0;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-social-media .contact-social-icons a svg {
    height: 80px;
    width: 80px;
    min-height: 60px;
    min-width: 60px;
    fill: #F8F8F8;
    margin-bottom: -5px;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-social-media .contact-social-icons a svg:hover {
    transform: scale(1.05);
    fill: #E4F3F0;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-social-media .contact-social-icons a svg:active {
    transform: scale(1);
  }
  .contact-container .contact-details-form-container .contact-form-container {
    width: 55%;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box {
    padding: 0;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left {
    width: 40%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element {
    width: 100%;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
    font-size: 1.7vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element input {
    width: 85%;
    height: 50px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right {
    width: 60%;
    align-items: flex-start;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
    font-size: 1.7vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea textarea {
    height: 85%;
    width: 100%;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container {
    width: 100%;
    justify-content: flex-start;
    padding: 15px 0;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox-label p:hover {
    color: #4F6E72;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right button {
    margin-top: 0px;
    min-height: 50px;
    width: 40%;
    margin-left: 0;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .form-fields-filled:hover {
    transform: scale(1.01);
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .form-fields-filled:active {
    transform: scale(1);
  }
}
@media only screen and (orientation: landscape) and (min-width: 2560px) {
  .contact-container {
    padding: 50px 0 70px;
  }
  .contact-container h1 {
    margin: 0 0 50px 0;
  }
  .contact-container .contact-details-form-container {
    padding-bottom: 0px;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail {
    padding: 0px 20px 35px 0;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-icon {
    height: 80px;
    width: 80px;
    min-height: 80px;
    min-width: 80px;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    padding-left: 30px;
    font-size: 1.6vw;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-social-media h3 {
    font-size: 4em;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-social-media .contact-social-icons a svg {
    height: 100px;
    width: 100px;
    min-height: 80px;
    min-width: 80px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
    font-size: 1.4vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element input {
    height: 80px;
    font-size: 2em;
    padding-left: 20px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
    font-size: 1.4vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea textarea {
    font-size: 2em;
    padding: 20px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox #checkbox {
    width: 25px;
    height: 25px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox-label {
    font-size: 1.5em;
    line-height: 1.5em;
    padding-left: 10px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right button {
    min-height: 80px;
    font-size: 2.5em;
  }
}
@media only screen and (orientation: landscape) and (min-width: 3480px) {
  .contact-container .contact-details-form-container {
    padding-bottom: 40px;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail {
    padding: 0px 20px 45px 0;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-icon {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-detail .contact-info a h3 {
    font-size: 1.4vw;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-social-media h3 {
    font-size: 5em;
  }
  .contact-container .contact-details-form-container .contact-details-container .contact-details-box .contact-social-media .contact-social-icons a svg {
    height: 120px;
    width: 120px;
    min-height: 80px;
    min-width: 80px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .bottom-margin {
    margin-bottom: 30px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element label {
    font-size: 1.2vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form .contact-form-left .contact-form-element input {
    height: 100px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-textarea label {
    font-size: 1.2vw;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container {
    padding: 15px 0 20px 0;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox #checkbox {
    width: 30px;
    height: 30px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right .contact-form-checkbox-container .contact-form-checkbox-label {
    font-size: 1.6em;
    line-height: 1.6em;
    padding-left: 20px;
  }
  .contact-container .contact-details-form-container .contact-form-container .contact-form-box .contact-form-right button {
    min-height: 100px;
    font-size: 2.8em;
  }
}/*# sourceMappingURL=Contact.css.map */