@import "../../utilities/variables.scss";

.contact-container {
  height: 100%;
  width: 100%;
  padding-bottom: 120px;
  background-color: $main-blue;

  h1 {
    margin: 0;
    padding: 20px 0 20px 120px;
    @include main-heading ($main-grey);
  }

  .contact-details-form-container {
    display: flex;
    justify-content: space-between;

    .contact-form-dropdown {
      margin: 10px 30px 0 0;
      width: 324px;
      height: 55px;
      border-radius: 10px;
      border: solid 1px $main-grey;
      outline-color: $main-grey;
      padding-left: 20px;
      @include custom-Montserrat(black, 1.2em, 400);
    }

    .contact-details-container {
      height: 415px;
      width: 650px;
      //background-color: burlywood;
  
      .contact-detail {
        width: 700px;
        height: 50px;
        display: flex;
        padding: 0;
        margin: 20px 20px 0 120px;
  
        .contact-icon {
          height: 50px;
          width: 50px;
          svg {
            fill: $main-grey;
          }
        }
  
        .contact-info {
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          a {
            text-decoration: none;
            margin-left: 20px;
  
            h3 {
              @include custom-Montserrat($main-grey, 2em, 400);
              padding: 0;
              margin: 0;
            }
          }
        }
      }
  
      .contact-social-media {
        h3 {
          @include custom-Roboto ($main-grey, 2.5em, 500);
          padding: 0;
          margin: 50px 0 30px 120px;       
        }
  
        .contact-social-icons {
          margin-left: 120px;
          a {
            margin: 0 40px 20px 0;
            svg {
              height: 80px;
              width: 80px;
              fill: $main-grey;

              &:hover {
                transform: scale(1.05);
                fill: $light-blue;
              }

              &:active {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  
    .contact-form-container {
      height: 415px;
      width: 900px;
      //background-color: cadetblue;

      .contact-form {
        display: flex;
        justify-content: space-between;

        .contact-form-left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .bottom-margin {
            margin-bottom: 20px;
          }
  
          .contact-form-element {
            label {
              @include custom-Montserrat($main-grey, 1.4em, 400);
            }
  
            input {
              margin: 10px 30px 0 0;
              width: 300px;
              height: 50px;
              border-radius: 10px;
              border: solid 1px $main-grey;
              outline-color: $main-grey;
              padding-left: 20px;
              @include custom-Montserrat(black, 1.2em, 400);
            }
          }
        }
      }

      .contact-form-right {
        height: 415px;
        width: auto;
        margin-right: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //background-color: cadetblue;

        .contact-form-textarea {
          label {
            @include custom-Montserrat($main-grey, 1.4em, 400);
          }

          textarea {
            resize: none;
            margin: 10px 0 0 0;
            width: 360px;
            height: 236px;
            border-radius: 10px;
            border: solid 1px $main-grey;
            outline-color: $main-grey;
            padding: 15px 15px 20px 20px;
            @include custom-Montserrat(black, 1.2em, 400);
          }
        }

        .contact-form-checkbox-container {
          display: flex;
          align-items: center;

          .contact-form-checkbox {
            //background-color: aqua;
            width: 20px;
            height: 20px;
          }
          .contact-form-checkbox-label {
            width: 370px;
            @include custom-Montserrat($main-grey, 0.9em, 400);
            padding-left: 5px;
            
            p {
              margin: 0;
              cursor: pointer;

              &:hover {
                color: $dark-2-blue;
              }
            }
          }
        }

        button {
          background-color: $main-grey;
          border: none;
          border-radius: 10px;
          @include custom-Roboto ($dark-2-blue, 1.5em, 400);
          width: 150px;
          height: 50px;
          cursor: pointer;

          &:hover {
            background-color: $light-blue;
            transform: scale(1.05);
          }

          &:active {
            transform: scale(1);
          }
        }
      }
    }
  }
}