@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap");
.faqs-container {
  width: 100%;
  height: auto;
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
}
.faqs-container h1 {
  margin: 0 0 0 120px;
  padding: 20px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 6.5rem;
  color: #9A746D;
}
@media only screen and (max-width: 361px) {
  .faqs-container h1 {
    font-size: 4rem;
  }
}
.faqs-container ol {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.faqs-container li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #9A746D;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.faqs-container .question-container {
  cursor: pointer;
  width: 1000px;
  border-radius: 10px;
  padding: 0 20px;
  height: auto;
  margin: 0 0 20px 120px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background-color: #E7E7E7;
  transition: 0.5s;
}
.faqs-container .question-container .questions-text-box {
  width: 100%;
  padding: 10px 0 10px 10px;
}
.faqs-container .question-container .questions-text-box .question {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #9A746D;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
.faqs-container .question-container .plus-toggle {
  pointer-events: none;
}
.faqs-container .question-container .plus-toggle > label {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: relative;
  top: -10px;
  display: block;
}
.faqs-container .question-container .plus-toggle > label:before, .faqs-container .question-container .plus-toggle > label:after {
  content: "";
  display: block;
  position: absolute;
  width: 0.25rem;
  background: #9A746D;
  border-radius: 0.25rem;
  height: 1.1111111111rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease;
}
.faqs-container .question-container .plus-toggle > label:after {
  width: 1.1111111111rem;
  height: 0.25rem;
}
.faqs-container .question-container .plus-toggle > input {
  height: 0;
  width: 0;
  overflow: hidden;
}
.faqs-container .question-container .plus-toggle > input:checked + label:before {
  transform: rotate(-90deg);
}
.faqs-container .question-container .plus-toggle > input:checked + label:after {
  transform: rotate(-180deg);
  opacity: 0;
}
.faqs-container .answer-on {
  font-size: 1.2rem;
  width: 980px;
  text-align: justify;
  text-justify: inter-word;
  line-height: 26px;
  margin: 0 0 20px 120px;
  color: #4F6E72;
}
.faqs-container .answer-off {
  display: none;
}

@-webkit-keyframes animateAnswer {
  0% {
    opacity: 0;
    transform: translate(0, -5px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animateAnswer {
  0% {
    opacity: 0;
    transform: translate(0, -5px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.animateAnswer {
  -webkit-animation: animateAnswer 0.5s 1;
          animation: animateAnswer 0.5s 1;
}

@media only screen and (max-width: 1200px) {
  .faqs-container .question-container {
    width: 700px;
    transition: 0.5s;
  }
  .faqs-container .answer-on {
    width: 650px;
  }
}
@media only screen and (max-width: 900px) {
  .faqs-container .question-container {
    width: 500px;
  }
  .faqs-container .answer-on {
    width: 450px;
    font-size: 1.1rem;
    line-height: 24px;
  }
}
@media only screen and (max-width: 700px) {
  .faqs-container .question-container {
    width: 400px;
  }
  .faqs-container .answer-on {
    width: 350px;
  }
}
@media only screen and (max-width: 590px) {
  .faqs-container {
    padding-left: 0px;
    padding-bottom: 10px;
    align-items: center;
  }
  .faqs-container h1 {
    align-self: flex-start;
    margin-left: 50px;
  }
  .faqs-container .question-container {
    width: 320px;
    margin: 0 0 10px 0;
    padding: 0 10px;
  }
  .faqs-container .answer-on {
    width: 300px;
    font-size: 1rem;
    line-height: 22px;
    margin-left: 0;
  }
}
@media only screen and (max-width: 361px) {
  .faqs-container {
    padding-bottom: 5px;
  }
  .faqs-container ol {
    margin-top: 10px;
  }
  .faqs-container h1 {
    margin-left: 20px;
  }
  .faqs-container .question-container {
    width: 310px;
  }
  .faqs-container .answer-on {
    width: 290px;
    font-size: 0.9rem;
    line-height: 20px;
  }
}
@media only screen and (max-width: 321px) {
  .faqs-container h1 {
    margin-left: 10px;
  }
  .faqs-container .question-container {
    width: 280px;
  }
  .faqs-container .question-container .questions-text-box .question {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  .faqs-container .answer-on {
    width: 260px;
    font-size: 0.8rem;
    line-height: 20px;
  }
}
@media only screen and (max-width: 281px) {
  .faqs-container h1 {
    margin-left: 10px;
  }
  .faqs-container .question-container {
    width: 250px;
  }
  .faqs-container .question-container .questions-text-box .question {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .faqs-container .answer-on {
    width: 240px;
    font-size: 0.8rem;
    line-height: 20px;
  }
}/*# sourceMappingURL=FAQs.css.map */