@import "../../utilities/variables.scss";

.faqs-container {
  width: 100%;
  height: auto;
  background-color: $main-grey;
  margin: 0;
  padding: 0;
  //padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  //padding-left: 120px;
  padding-bottom: 20px;

  h1 {
    margin: 0 0 0 120px;
    padding: 20px 0 0 0;
    @include main-heading ($dark-2-red);
  }

  ol {
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }

  li {
    @include bulk-text ($dark-2-red);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .question-container {
    cursor: pointer;
    width: 1000px;
    border-radius: 10px;
    padding: 0 20px;
    height: auto;
    margin: 0 0 20px 120px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: $dark-1-grey;
    transition: 0.5s;

    .questions-text-box {
      width: 100%;
      padding: 10px 0 10px 10px;

      .question {
        @include bulk-text ($dark-2-red);
        font-size: 1.2em;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
        margin-left: 5px;
      }
    }

    $stroke-thickness: .25em;
    $stroke-color: $dark-2-red;
    $size: 2em;

    .plus-toggle {
      pointer-events: none;
      > label {
        width: $size;
        height: $size;
        cursor: pointer;
        position: relative;
        top: -10px;
        display: block;
        
        &:before,
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: $stroke-thickness;
          background: $stroke-color;
          border-radius: $stroke-thickness;
          height: $size / 1.8;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          transition: all .3s ease;
        }
        
        &:after {
          width: $size / 1.8;
          height: $stroke-thickness;
        }
      }
      
      > input {
        height: 0;
        width: 0;
        overflow: hidden;
        
        &:checked + label {
          &:before {
            transform: rotate(-90deg);
          }
          
          &:after {
            transform: rotate(-180deg);
            opacity: 0;
          }
        }
      }
    }
  }

  .answer-on {
    font-size: 0.9em;
    width: 980px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 26px;
    margin: 0 0 20px 120px;
    color: $dark-2-blue;
  }

  .answer-off {
    display: none;
  }
}

@keyframes animateAnswer {
  0% {
    opacity: 0;
    transform: translate(0, -5px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.animateAnswer {
  animation: animateAnswer 0.5s 1;
}

//---------------------
//Media Queries
//---------------------

@media only screen and (max-width: 1200px) {
  .faqs-container {
    .question-container {
      width: 700px;
      transition: 0.5s;
    }

    .answer-on {
      width: 650px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .faqs-container {
    .question-container {
      width: 500px;
    }

    .answer-on {
      width: 450px;
      font-size: 0.9em;
      line-height: 1.5em;
    }
  }
}

@media only screen and (max-width: 700px) {
  .faqs-container {
    .question-container {
      width: 400px;
    }

    .answer-on {
      width: 350px;
    }
  }
}

@media only screen and (max-width: 590px) {
  .faqs-container {
    padding-left: 0px;
    padding-bottom: 10px;
    align-items: center;
    
    h1 {
      align-self: flex-start;
      margin-left: 50px;
    }

    .question-container {
      width: 320px;
      margin: 0 0 10px 0;
      padding: 0 10px;
    }

    .answer-on {
      width: 300px;
      font-size: 0.9em;
      line-height: 1.5em;
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 361px) {
  .faqs-container {
    padding-bottom: 5px;

    ol {
      margin-top: 10px;
    }
    
    h1 {
      margin-left: 20px;
    }

    .question-container {
      width: 310px;
    }

    .answer-on {
      width: 290px;
      font-size: 0.9em;
      line-height: 1.3em;
    }
  }
}

@media only screen and (max-width: 321px) {
  .faqs-container {
    
    h1 {
      margin-left: 10px;
    }

    .question-container {
      width: 280px;

      .questions-text-box {
        .question {
          font-size: 0.9em;
          line-height: 1.8em;
        }
      }
    }

    .answer-on {
      width: 260px;
      font-size: 0.8em;
      line-height: 20px;
    }
  }
}

@media only screen and (max-width: 281px) {
  .faqs-container {
    h1 {
      margin-left: 10px;
    }

    .question-container {
      width: 250px;

      .questions-text-box {
        .question {
          font-size: 0.8em;
          line-height: 1.6em;
        }
      }
    }

    .answer-on {
      width: 240px;
      font-size: 0.8em;
      line-height: 20px;
    }
  }
}