@import "../../utilities/variables.scss";

.therapy-container {
  height: 95vh;
  width: 100%;
  background-color: $main-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding-top: 20px;

  h1 {
    margin: 0;
    padding: 0;
    @include main-heading ($dark-2-red);
    text-align: center;
    padding-top: 20px;
  }

  .therapy-text {
    width: 85%;
    min-width: 1020px;
    height: auto;
    padding-bottom: 20px;

    p {
      @include bulk-text ($dark-1-red);
      text-align: justify;
      line-height: 2rem;
      align-self: center;
    }
  }

  .therapy-individuals-container {
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 30px;

    .therapy-individuals {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .therapy-individuals-img {
        width: 220px;
        height: auto;
      }
  
      .therapy-individuals-text {
        text-align: center;
        h3 {
          @include custom-Roboto($dark-2-red, 2rem, 400);
          margin-bottom: 0;
        }

        p {
          @include custom-Montserrat($dark-1-red, 1.1rem, 400);
          line-height: 30px;
        }
      }
    } 
  }
}