@import "../../utilities/variables.scss";

.footer-container {
  height: auto;
  width: 100%;
  bottom: 0;
  background-color: $dark-2-blue;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;

  .footer-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include custom-Roboto(white, 2.7vw, 400);

    .break-foot-large-mobile {
      display: flex;
      flex-basis: 100%;
    }

    .break-foot-small-mobile {
      display: none;
    }

    p {
      line-height: 4vw;
      margin: 0;
      padding: 0;
    }

    a {
      @include custom-Roboto(white, 2.75vw, 500);
      line-height: 4vw;
      text-decoration-line: none;
      text-decoration-style: none;
      -moz-text-decoration-line: none;
      -moz-text-decoration-style: none;
      -webkit-text-decoration-line: none;
      -webkit-text-decoration-style: none;
      cursor: pointer;
      margin: 0;
      padding: 0;

      &:visited {
        color: white;
      }
    }

    #img-cred {
      cursor: pointer;
    }
  }
}

//---- MEDIA QUERIES ----

@media only screen and (orientation: portrait) {
  @media only screen and (max-width: 321px) {
    .footer-container {
      .footer-text-container {
        font-size: 0.8em;

        .break-foot-large-mobile {
          display: none;
        }

        .break-foot-small-mobile {
          display: initial;
        }

        p {
          line-height: 1.2em;
        }

        a {
          font-size: 0.9em;
          line-height: 1.2em;
        }
      }
    }
  }

  @media only screen and (min-width: 600px) {
    .footer-container {
      .footer-text-container {
        font-size: 1em;

        .break-foot-large-mobile {
          display: flex;
          flex-basis: 100%;
        }

        .break-foot-small-mobile {
          display: none;
        }

        p {
          line-height: 1.5em;
        }

        a {
          font-size: 1em;
          line-height: 1.5em;
        }
      }
    }
  }
}

@media only screen and (orientation: landscape) {
  .footer-container {
    .footer-text-container {
      font-size: 0.9em;

      p {
        line-height: 1.5em;
      }

      a {
        font-size: 1em;
        line-height: 1.5em;
      }
    }
  }

  @media only screen and (max-width: 479px) {
    .footer-container {
      .footer-text-container {
        font-size: 0.8em;

        .break-foot-large-mobile {
          display: none;
        }

        .break-foot-small-mobile {
          display: initial;
        }

        p {
          line-height: 1.2em;
        }

        a {
          font-size: 1em;
        }
      }
    }
  }

  @media only screen and (min-width: 960px) {
    .footer-container {
      padding: 15px 0;

      .footer-text-container {
        flex-direction: row;
        font-size: 0.9em;

        .break-foot-large-mobile {
          flex-basis: initial;
          display: none;
        }

        a {
          font-size: 1em;
        }
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    .footer-container {
      padding: 20px 0;

      .footer-text-container {
        flex-direction: row;
        font-size: 1.2em;

        .break-foot-large-mobile {
          flex-basis: initial;
          display: none;
        }

        a {
          font-size: 1.1em;

          &:hover {
            color: $light-yellow;
          }
        }

        #img-cred {
          &:hover {
            color: $light-yellow;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 3072px) {
    .footer-container {
      padding: 30px 0;

      .footer-text-container {
        flex-direction: row;
        font-size: 1.5em;

        .break-foot-large-mobile {
          flex-basis: initial;
          display: none;
        }

        a {
          font-size: 1.1em;
        }
      }
    }
  }
}

@media only screen and (orientation: landscape) and (min-height: 768px) and (min-width: 1024px) {
  .footer-container {
    height: 80px;
  }
}

@media only screen and (orientation: portrait) and (min-height: 960px) and (min-width: 600px) {
  .footer-container {
    height: 80px;
  }
}
