@import "../../utilities/variables.scss";

.footer-container {
  height: 75px;
  width: 100%;
  //position: absolute;
  bottom: 0;
  background-color: $dark-2-blue;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  //padding-top: 20px;
  //padding-bottom: 20px;
  text-align: center;

  .footer-text-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    @include custom-Roboto(white, 1.1em, 400);
    

    .breakFoot {
      display: none;
    }

    p {
      margin: 0;
      padding: 0;
    }

    a {
      @include custom-Roboto(white, 1.1em, 500);
      text-decoration: none;
      cursor: pointer;
      margin: 0;
      padding: 0;

      &:visited {
        color: white;
      }

      &:hover {
        color: $light-blue;
      }
    }

    #img-cred {
      cursor: pointer;

      &:hover {
        color: $light-blue;
      }
    }
  }
}

//---------------------
//Media Queries
//---------------------

@media only screen and (max-width: 1000px) {
  .footer-container {
    .footer-text-container {
      flex-direction: column;
      align-items: center;
      @include custom-Roboto(white, 1em, 400);

      p {
        line-height: 1.5em;
      }

      .breakFoot {
        display: flex;
        flex-basis: 100%;
      }

      a {
        @include custom-Roboto(white, 1em, 500);
      }
    }
  }
}

@media only screen and (max-width: 580px) {
  .footer-container {
    .footer-text-container {
      @include custom-Roboto(white, 0.8em, 400);

      a {
        @include custom-Roboto(white, 0.9em, 500);
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .footer-container {
    .footer-text-container {
      @include custom-Roboto(white, 0.6em, 400);

      a {
        @include custom-Roboto(white, 0.7em, 500);
      }
    }
  }
}

@media only screen and (max-width: 321px) {
  .footer-container {
    .footer-text-container {
      @include custom-Roboto(white, 0.48em, 400);

      a {
        @include custom-Roboto(white, 0.5em, 500);
      }
    }
  }
}

// @media only screen and (max-width: 580px) {
//   .footer-container {
//     //height: 25px;
//     //margin-top: 30px;
//     //padding-top: 5px;
//     //padding-bottom: 5px;

//     .footer-text-container {
//       @include custom-Roboto(white, 0.8em, 400);

//       a {
//         @include custom-Roboto(white, 0.9em, 500);
//       }
//     }
//   }

//   @media only screen and (max-width: 450px) {
//     .footer-container {
//       .footer-text-container {
//         @include custom-Roboto(white, 0.6em, 400);

//         a {
//           @include custom-Roboto(white, 0.7em, 500);
//         }
//       }
//     }
//   }
// }

// @media only screen and (max-width: 321px) {
//   .footer-container {
//     .footer-text-container {
//       @include custom-Roboto(white, 0.48em, 400);

//       a {
//         @include custom-Roboto(white, 0.5em, 500);
//       }
//     }
//   }
// }
