@import "../../utilities/variables.scss";

.resources-container {
  width: 100%;
  height: auto;
  background-color: $main-grey;
  margin: 0;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    @include main-heading($dark-2-blue);
    margin: 0 0 20px 0;
    padding: 0;
  }

  .resource-flex-container {
    height: auto;
    width: 100%;

    .breakRes {
      display: none;
    }

    .resource-boxes-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      height: auto;

      .images-loading {
        background-color: #f0f0f0;
        box-shadow: none;

        .resource-box-content {
          img {
            opacity: 1;
          }
        }
      }

      .images-loaded {
        background-color: $main-yellow;
        box-shadow: 0px 0px 10px rgba(92, 64, 3, 0.3);

        .resource-box-content {
          img {
            opacity: 0.65;
          }
        }
      }

      .resource-box {
        z-index: 1;
        height: 85vw;
        width: 70vw;
        margin: 0 0 20px 0;
        padding: 0;
        // background-color: $main-yellow;
        border-radius: 20%;
        // box-shadow: 0px 0px 10px rgba(92, 64, 3, 0.3);

        a {
          text-decoration-line: none;
          text-decoration-style: none;
          -moz-text-decoration-line: none;
          -moz-text-decoration-style: none;
          -webkit-text-decoration-line: none;
          -webkit-text-decoration-style: none;
        }

        &:active {
          transform: scale(1);
        }

        .resource-box-content {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          cursor: pointer;

          img {
            height: 85vw;
            width: 70vw;
            position: absolute;
            border-radius: 20%;
          }

          h3 {
            @include custom-Montserrat($main-grey, 7vw, 600);
            z-index: 2;
          }
        }
      }

      .chosen-box {
        background-color: #eeeeee;
        box-shadow: 0px 0px 10px rgba(102, 102, 102, 0.5);

        .resource-box-content {
          img {
            opacity: 0.25;
          }

          h3 {
            @include custom-Montserrat(rgb(136, 97, 42), 7vw, 600);
          }
        }
      }
    }

    .resource-content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;

      ul {
        width: 90%;
        padding: 0 0 0 15px;

        li {
          @include bulk-text($dark-2-blue);
          line-height: 1.8em;
          margin: 0 0 8px 0;

          a {
            text-decoration-line: none;
            text-decoration-style: none;
            -moz-text-decoration-line: none;
            -moz-text-decoration-style: none;
            -webkit-text-decoration-line: none;
            -webkit-text-decoration-style: none;

            &:link {
              color: $dark-2-blue;
            }
            &:visited {
              color: $dark-2-red;
            }
          }
        }
      }
    }
  }
}

.to-top {
  width: 100%;
  background-color: $main-grey;
  text-align: center;
  padding-bottom: 10px;

  a {
    text-decoration-line: none;
    text-decoration-style: none;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: none;
    -webkit-text-decoration-line: none;
    -webkit-text-decoration-style: none;
    @include custom-Roboto($dark-2-blue, 1.2em, 400);
  }
}

//---- MEDIA QUERIES ----

@media only screen and (orientation: portrait) {
  @media only screen and (min-width: 540px) {
    .resources-container {
      min-height: 100vh;
      min-height: -webkit-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
      min-height: -moz-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
      min-height: expression(calc(calc(var(--vh, 1vh) * 100) - 50px));
      min-height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
      min-height: calc(calc(var(--vh, 1vh) * 100) - 50px);
      justify-content: flex-start;

      .resource-flex-container {
        .resource-boxes-container {
          justify-content: center;
          .resource-box {
            height: 46vw;
            width: 40vw;
            margin: 10px;
            padding: 0;

            .resource-box-content {
              img {
                height: 46vw;
                width: 40vw;
              }

              h3 {
                font-size: 5vw;
              }
            }
          }

          .chosen-box {
            .resource-box-content {
              h3 {
                font-size: 5vw;
              }
            }
          }
        }

        .resource-content {
          ul {
            padding: 0 0 0 15px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 600px) {
    .resources-container {
      .resource-flex-container {
        .resource-boxes-container {
          .resource-box {
            height: 34vw;
            width: 28vw;

            .resource-box-content {
              img {
                height: 34vw;
                width: 28vw;
              }

              h3 {
                font-size: 3.5vw;
              }
            }
          }

          .chosen-box {
            .resource-box-content {
              h3 {
                font-size: 3.5vw;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (orientation: landscape) {
  @media only screen and (max-width: 481px) {
    .resources-container {
      .resource-flex-container {
        height: auto;
        width: 100%;

        .breakRes {
          display: none;
        }

        .resource-boxes-container {
          .resource-box {
            height: 55vw;
            width: 45vw;
            margin: 0 0 20px 0;

            .resource-box-content {
              img {
                height: 55vw;
                width: 45vw;
              }

              h3 {
                font-size: 5vw;
              }
            }
          }

          .chosen-box {
            .resource-box-content {
              h3 {
                font-size: 5vw;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 481px) {
    .resources-container {
      min-height: 100vh;
      min-height: -webkit-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
      min-height: -moz-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
      min-height: expression(calc(calc(var(--vh, 1vh) * 100) - 50px));
      min-height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 50px));
      min-height: calc(calc(var(--vh, 1vh) * 100) - 50px);
      justify-content: flex-start;

      .resource-flex-container {
        .resource-boxes-container {
          .resource-box {
            height: 23vw;
            width: 18vw;
            margin: 0;
            padding: 0;

            .resource-box-content {
              img {
                height: 23vw;
                width: 18vw;
              }

              img:-moz-loading {
                visibility: hidden;
              }

              h3 {
                font-size: 2.6vw;
              }
            }
          }

          .chosen-box {
            .resource-box-content {
              h3 {
                font-size: 2.6vw;
              }
            }
          }
        }

        .resource-content {
          ul {
            padding: 15px 0 0 15px;
            margin-bottom: -30px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .resources-container {
      margin-bottom: 35px;
    }
  }

  @media only screen and (min-width: 1280px) {
    .resources-container {
      .resource-flex-container {
        .resource-boxes-container {
          .resource-box {
            height: 20vw;
            width: 16vw;

            &:hover {
              filter: brightness(103%);
              box-shadow: 0px 0px 6px rgba(167, 98, 9, 0.2);
              transform: scale(1.03);
            }

            .resource-box-content {
              img {
                height: 20vw;
                width: 16vw;
              }

              h3 {
                font-size: 2.3vw;
              }
            }
          }

          .chosen-box {
            &:hover {
              box-shadow: 0px 0px 6px rgba(136, 136, 136, 0.2);
            }

            .resource-box-content {
              h3 {
                font-size: 2.3vw;
              }
            }
          }
        }

        .resource-content {
          ul {
            padding: 15px 0 5px 15px;

            li {
              line-height: 2em;

              a {
                &:hover {
                  color: $main-blue;
                }
                &:visited:hover {
                  color: $main-red;
                }
              }
            }
          }
        }
      }
    }

    .to-top {
      a {
        &:hover {
          color: $dark-2-red;
        }
      }
    }
  }

  @media only screen and (min-width: 2560px) {
    .resources-container {
      padding: 50px 0;

      h1 {
        margin: 0px 0 50px 0;
      }

      .resource-flex-container {
        .resource-boxes-container {
          .resource-box {
            height: 18vw;
            width: 15vw;

            .resource-box-content {
              img {
                height: 18vw;
                width: 15vw;
              }

              h3 {
                font-size: 2.2vw;
              }
            }
          }

          .chosen-box {
            .resource-box-content {
              h3 {
                font-size: 2.2vw;
              }
            }
          }
        }

        .resource-content {
          ul {
            padding: 30px 0 20px 15px;
          }
        }
      }
    }

    .to-top {
      padding-bottom: 20px;

      a {
        font-size: 1.6em;
      }
    }
  }

  @media only screen and (min-width: 3840px) {
    .resources-container {
      padding: 70px 0;

      h1 {
        margin: 0px 0 80px 0;
      }
    }
  }
}

//Adjust for nav expansion
@media only screen and (min-width: 914px) {
  .resources-container {
    min-height: 100vh;
    min-height: -webkit-calc(calc(calc(var(--vh, 1vh) * 100) - 130px));
    min-height: -moz-calc(calc(calc(var(--vh, 1vh) * 100) - 130px));
    min-height: expression(calc(calc(var(--vh, 1vh) * 100) - 130px));
    min-height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 130px));
    min-height: calc(calc(var(--vh, 1vh) * 100) - 130px);
  }
}

//Media Queries to include footer in view of resource page
//----
@media only screen and (orientation: landscape) and (min-height: 768px) and (min-width: 1024px) {
  .resources-container {
    min-height: 100vh;
    min-height: -webkit-calc(calc(calc(var(--vh, 1vh) * 100) - 245px));
    min-height: -moz-calc(calc(calc(var(--vh, 1vh) * 100) - 245px));
    min-height: expression(calc(calc(var(--vh, 1vh) * 100) - 245px));
    min-height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 245px));
    min-height: calc(calc(var(--vh, 1vh) * 100) - 245px);
  }
}

@media only screen and (orientation: landscape) and (min-height: 768px) and (min-width: 2560px) {
  .resources-container {
    min-height: 100vh;
    min-height: -webkit-calc(calc(calc(var(--vh, 1vh) * 100) - 315px));
    min-height: -moz-calc(calc(calc(var(--vh, 1vh) * 100) - 315px));
    min-height: expression(calc(calc(var(--vh, 1vh) * 100) - 315px));
    min-height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 315px));
    min-height: calc(calc(var(--vh, 1vh) * 100) - 315px);
  }
}

@media only screen and (orientation: portrait) and (min-height: 960px) and (min-width: 600px) {
  .resources-container {
    min-height: 100vh;
    min-height: -webkit-calc(calc(calc(var(--vh, 1vh) * 100) - 165px));
    min-height: -moz-calc(calc(calc(var(--vh, 1vh) * 100) - 165px));
    min-height: expression(calc(calc(var(--vh, 1vh) * 100) - 165px));
    min-height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 165px));
    min-height: calc(calc(var(--vh, 1vh) * 100) - 165px);
  }
}

@media only screen and (orientation: portrait) and (min-height: 960px) and (min-width: 914px) {
  .resources-container {
    min-height: 100vh;
    min-height: -webkit-calc(calc(calc(var(--vh, 1vh) * 100) - 245px));
    min-height: -moz-calc(calc(calc(var(--vh, 1vh) * 100) - 245px));
    min-height: expression(calc(calc(var(--vh, 1vh) * 100) - 245px));
    min-height: -o-calc(calc(calc(var(--vh, 1vh) * 100) - 245px));
    min-height: calc(calc(var(--vh, 1vh) * 100) - 245px);
  }
}
//----
