@import "../../utilities/variables.scss";

.prices-container {
  height: 94vh;
  width: 100%;
  background-color: $main-grey;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
    padding: 0;
    @include main-heading ($dark-2-yellow);
    text-align: center;
    padding-top: 20px;
  }

  .price-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;

    .price-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 450px;
      width: 380px;
      border-radius: 10px;
      //border: solid 10px $main-grey;
      background-color: $dark-1-grey;
      margin: 30px 40px;
      text-align: center;

      h3 {
        @include custom-Montserrat ($dark-2-red, 2.5em, 600);
        padding: 0;
        margin: 0;
        padding-top: 20px;
      }

      p {
        @include custom-Montserrat ($dark-2-red, 1.6em, 400);
        padding: 0;
        margin: 0;
        padding-bottom: 20px;
      }

      .price-box-discount {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $main-red;
        height: 240px;
        width: 240px;
        border-radius: 50%;
        padding: 0;
        margin: 0;

        h2 {
          @include custom-Montserrat ($main-grey, 3.3em, 600);
          padding: 0;
          margin: 0;
          margin-top: 10px;
        }

        h3 {
          @include custom-Montserrat ($main-grey, 1.5em, 400);
          padding: 0;
          margin: 0;
          margin-top: 10px;
        }

        h3:first-of-type {
          margin-top: 0px;
        }
      }

      #price-weekly {
        margin-top: 0;
        font-size: 3.3em;
        font-weight: 600;
      }
    }
  }
  
  .prices-consult-text {
    width: 1320px;
    height: auto;

    p {
      @include bulk-text ($dark-2-yellow);
      text-align: justify;
      text-justify: inter-word;
      line-height: 1.5em;
    }
  }
}