@import 'utilities/variables';

* {
  box-sizing: border-box;
}

 *:before,
 *:after {
  box-sizing: border-box;
}

:root {
  color-scheme: light only;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;   
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  background-color: $main-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
}

.nav-placeholder {
  width: 100%;
  height: 130px;
  background-color: $main-yellow;
  transition: 0.5s;
}

@media only screen and (max-width: 914px), (max-height: 300px) {
  .nav-placeholder {
    width: 100%;
    height: 50px;
    min-height: 50px;
    transition: 0.5s;
  }
}

@media only screen and (min-width: 2560px) {
  .nav-placeholder {
    width: 100%;
    height: 200px;
    min-height: 200px;
    transition: 0.5s;
  }
}

// --- For all CSS Files --- //

//---- MOBILE ----
//Tested and working for the following phones/screen sizes
//Also tested and working in landscape mode
// ----------------
//iPhone XR 414 x 896
//iPhone 5/SE 320 x 568
//iPhone 4 320 x 480
//Galaxy S5 360 x 640
//iPhone X 375 x 812
//Nexus 4 384 x 640
//JioPhone2 240 x 320
//Galaxy Fold 280 x 653
//Nokia N9 480 x 854
//Nexus 6P 412 x 732
//Pixel 2 XL 411 x 823
//Surface Duo 540 x 720
// ----------------

//---- TABLET ----
//Tested and working for the following tablet/screen sizes
//Also tested and working in landscape mode
// ----------------
//Nexus 7 600 - 960
//BB Playbook 600 x 1024
//iPad/iPad Mini 768 x 1024
//Kindle Fire HDX 800 x 1280
//iPad Pro 1024 x 1366
// ----------------

//---- DESKTOP ----
//Tested and working for the following desktop sizes
// ----------------
//Laptop with MDPI Screen 1280 x 800
//Generic Laptop 1280 x 950
//MacBook Air 1440 x 900
//MacBook Pro 13" 2560 x 1600
//MackBook Pro 15" 2880 x 1800
//Macbook Pro 16" 3072 x 1920
//4K Display 3840 x 2160
//5K Display 5120 x 2880
// ----------------