@import 'utilities/variables';

* {
  box-sizing: border-box;
}

 *:before,
 *:after {
  box-sizing: border-box;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;   
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  //box-sizing:border-box;
  background-color: $main-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  position: relative;
}

.nav-placeholder {
  width: 100%;
  height: 130px;
  background-color: $main-yellow;
  transition: 0.5s;
}

@media only screen and (max-width: 914px), (max-height: 300px) {
  .nav-placeholder {
    width: 100%;
    height: 50px;
    min-height: 50px;
    transition: 0.5s;
  }
}

@media only screen and (min-width: 2560px) {
  .nav-placeholder {
    width: 100%;
    height: 200px;
    min-height: 200px;
    transition: 0.5s;
  }
}