@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap");
#shrink-nav {
  height: 85px;
  filter: drop-shadow(0 0 5px rgba(216, 153, 63, 0.3));
  transition: 0.5s;
}
#shrink-nav ul,
#shrink-nav li,
#shrink-nav a {
  height: 85px;
  transition: 0.5s;
}
#shrink-nav img {
  height: 75px;
  transition: 0.5s;
}

.nav-container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1024px;
  height: 130px;
  background-color: #F9BE7B;
  position: fixed;
  transition: 0.5s;
  z-index: 50;
}
.nav-container ul {
  margin: 0;
  padding: 0;
  height: 130px;
  width: 100%;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #F8F8F8;
  display: flex;
  transition: 0.5s;
}
.nav-container li {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.nav-container li a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  width: 100%;
  height: 130px;
  text-decoration-line: none;
  text-decoration-style: none;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: none;
  -webkit-text-decoration-line: none;
  -webkit-text-decoration-style: none;
  cursor: default;
}
.nav-container .li-text:link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #F8F8F8;
}
.nav-container .li-text:visited {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #F8F8F8;
}
.nav-container .li-text:hover {
  cursor: pointer;
}
.nav-container .li-text:active {
  font-size: 1.5em;
}
.nav-container .li-img {
  height: 130px;
  padding: 0px 10px;
}
.nav-container img {
  height: 115px;
  width: auto;
  transition: 0.5s;
  cursor: pointer;
}
.nav-container #li-icon {
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.nav-container #li-icon a {
  padding: 0px 10px;
  transition: 0.5s;
}
.nav-container svg {
  cursor: pointer;
  transition: 0.5s;
  margin: -4px;
  height: 30px;
  width: 30px;
  fill: #F8F8F8;
}

#terapia::before {
  content: "";
  display: block;
  height: 85px;
  margin-top: -85px;
  visibility: hidden;
}

#sobre::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#contacto::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#tarifas::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

#resenas::before {
  content: "";
  display: block;
  height: 80px;
  margin-top: -80px;
  visibility: hidden;
}

@media only screen and (max-width: 914px) {
  #terapia::before {
    content: "";
    display: block;
    height: 25px;
    margin-top: -25px;
    visibility: hidden;
  }
  #sobre::before {
    content: "";
    display: block;
    height: 25px;
    margin-top: -25px;
    visibility: hidden;
  }
  #contacto::before {
    content: "";
    display: block;
    height: 25px;
    margin-top: -25px;
    visibility: hidden;
  }
  #tarifas::before {
    content: "";
    display: block;
    height: 25px;
    margin-top: -25px;
    visibility: hidden;
  }
}
@media only screen and (max-width: 1025px) {
  .nav-container {
    min-width: 920px;
  }
  .nav-container a {
    padding: 0px 0px;
  }
  .nav-container .li-text:link {
    font-size: 1.25em;
  }
  .nav-container .li-text:visited {
    font-size: 1.25em;
  }
  .nav-container .li-img {
    height: 100px;
    padding: 0px 5px;
  }
  .nav-container img {
    height: 80px;
  }
  .nav-container svg {
    margin: -5px;
    height: 25px;
    width: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  .nav-container .li-text:hover {
    background-color: rgba(253, 237, 221, 0.3);
    font-size: 1.6em;
    cursor: pointer;
  }
  .nav-container svg:hover {
    transform: scale(1.15);
  }
}
@media only screen and (min-width: 2560px) {
  #shrink-nav {
    height: 160px;
  }
  #shrink-nav ul,
  #shrink-nav li,
  #shrink-nav a {
    height: 160px;
    font-size: 1.4vw;
  }
  #shrink-nav img {
    height: 140px;
  }
  .nav-container {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 2350px;
    height: 200px;
    background-color: #F9BE7B;
    position: fixed;
    transition: 0.5s;
    z-index: 10;
  }
  .nav-container ul {
    margin: 0;
    padding: 0;
    height: 200px;
    width: 100%;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #F8F8F8;
    display: flex;
    transition: 0.5s;
  }
  .nav-container li {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }
  .nav-container li a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 100%;
    height: 200px;
    text-decoration-line: none;
    text-decoration-style: none;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: none;
    -webkit-text-decoration-line: none;
    -webkit-text-decoration-style: none;
    cursor: default;
  }
  .nav-container .li-text:link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    color: #F8F8F8;
  }
  .nav-container .li-text:visited {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    color: #F8F8F8;
  }
  .nav-container .li-text:hover {
    background-color: rgba(253, 237, 221, 0.3);
    font-size: 1.6vw;
    cursor: pointer;
  }
  .nav-container .li-text:active {
    font-size: 1.5vw;
  }
  .nav-container .li-img {
    height: 200px;
    padding: 0px 10px;
  }
  .nav-container img {
    height: 170px;
    width: auto;
    transition: 0.5s;
    cursor: pointer;
  }
  .nav-container #li-icon {
    display: flex;
    align-items: center;
    transition: 0.5s;
  }
  .nav-container #li-icon a {
    padding: 0px 10px;
    transition: 0.5s;
  }
  .nav-container svg {
    cursor: pointer;
    transition: 0.5s;
    margin: 0px;
    height: 50px;
    width: 50px;
    fill: #F8F8F8;
  }
  .nav-container svg:hover {
    transform: scale(1.15);
  }
  #terapia::before {
    content: "";
    display: block;
    height: 150px;
    margin-top: -150px;
    visibility: hidden;
  }
  #sobre::before {
    content: "";
    display: block;
    height: 150px;
    margin-top: -150px;
    visibility: hidden;
  }
  #contacto::before {
    content: "";
    display: block;
    height: 150px;
    margin-top: -150px;
    visibility: hidden;
  }
  #tarifas::before {
    content: "";
    display: block;
    height: 150px;
    margin-top: -150px;
    visibility: hidden;
  }
}/*# sourceMappingURL=Nav.css.map */