@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap");
.nav-compact-dropdown-container-closed {
  background-color: #F9BE7B;
  width: 100%;
  height: 50px;
  position: fixed;
  transition: width 0.3s;
  z-index: 11;
  filter: drop-shadow(0 0 5px rgba(216, 153, 63, 0.3));
  display: flex;
  justify-content: flex-start;
}
.nav-compact-dropdown-container-closed .nav-compact-dropdown-icon-closed {
  cursor: pointer;
  height: 30px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  position: relative;
}
.nav-compact-dropdown-container-closed .nav-compact-dropdown-icon-closed .nav-compact-dropdown-bar-closed {
  width: 38px;
  height: 7px;
  border-radius: 5px;
  background-color: #F8F8F8;
}
.nav-compact-dropdown-container-closed .nav-compact-dropdown-icon-closed .nav-compact-dropdown-bar-closed:first-child {
  margin-top: 0;
}

.nav-compact-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  background-color: #F9BE7B;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  filter: drop-shadow(0 0 5px rgba(216, 153, 63, 0.3));
}
.nav-compact-container .li-img {
  height: 100px;
  width: 20%;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-compact-container img {
  height: auto;
  max-height: 80px;
  width: auto;
  cursor: pointer;
}
.nav-compact-container ul {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 75%;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #F8F8F8;
  display: flex;
}
.nav-compact-container li {
  width: 100%;
  min-width: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-compact-container li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  text-decoration-line: none;
  text-decoration-style: none;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: none;
  -webkit-text-decoration-line: none;
  -webkit-text-decoration-style: none;
  cursor: default;
}
.nav-compact-container .li-text:link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  color: #F8F8F8;
}
.nav-compact-container .li-text:visited {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  color: #F8F8F8;
}
.nav-compact-container .li-text:hover {
  cursor: pointer;
}
.nav-compact-container .li-text:active {
  font-size: 1.3em;
}
.nav-compact-container #li-icon {
  display: flex;
  align-items: center;
}
.nav-compact-container #li-icon a {
  padding: 0px 8px;
}
.nav-compact-container svg {
  cursor: pointer;
  margin: -4px;
  height: 20px;
  width: 20px;
  fill: #F8F8F8;
}

.nav-droplet {
  position: absolute;
  position: fixed;
  top: 100px;
  left: 47%;
  height: 30px;
  width: 60px;
  border-radius: 0 0 150px 150px;
  background-color: #F9BE7B;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-compact-dropdown-container {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 15;
  top: 3px;
}
.nav-compact-dropdown-container .nav-compact-dropdown-icon {
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-compact-dropdown-container .nav-compact-dropdown-icon .nav-compact-dropdown-bar {
  width: 20px;
  height: 3.5px;
  border-radius: 5px;
  background-color: #F8F8F8;
}
.nav-compact-dropdown-container .nav-compact-dropdown-icon .nav-compact-dropdown-bar:nth-child(even) {
  visibility: hidden;
}
.nav-compact-dropdown-container .nav-compact-dropdown-icon .nav-compact-dropdown-bar:first-child {
  transform: rotate(45deg);
  position: absolute;
  transition: 0.5s;
}
.nav-compact-dropdown-container .nav-compact-dropdown-icon .nav-compact-dropdown-bar:last-child {
  position: absolute;
  transform: rotate(-45deg);
  transition: 0.5s;
}

@media only screen and (max-width: 569px) {
  .nav-compact-container .li-img {
    display: none;
  }
  .nav-compact-container img {
    display: none;
  }
  .nav-compact-container ul {
    height: 50px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: #F8F8F8;
  }
  .nav-compact-container li {
    width: 100%;
    height: 50px;
  }
  .nav-compact-container li a {
    width: 100%;
    height: 50px;
  }
  .nav-compact-container .li-text:link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #F8F8F8;
  }
  .nav-compact-container .li-text:visited {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #F8F8F8;
  }
  .nav-compact-container .li-text:active {
    font-size: 1.05em;
  }
  .nav-compact-container #li-icon a {
    padding: 0px 8px;
  }
  .nav-compact-container svg {
    height: 18px;
    width: 18px;
  }

  .nav-droplet {
    position: fixed;
    top: 100px;
    left: 45%;
  }
}
@media only screen and (max-width: 321px) {
  .nav-compact-container ul {
    font-size: 1em;
  }

  .nav-droplet {
    left: 40%;
  }
}/*# sourceMappingURL=NavCompact.css.map */