@import "../../utilities/variables.scss";

.nav-side-dropdown-container-closed {
  background-color: $main-yellow;
  width: 100vw;
  height: 50px;
  position: fixed;
  transition: width 0.3s;
  z-index: 11;
  filter: drop-shadow(0 0 5px rgba($color: $dark-2-yellow, $alpha: 0.3));
  display: flex;
  justify-content: flex-start;
  top: 0;
  left: 0;

  .nav-side-dropdown-icon-closed {
    cursor: pointer;
    height: 30px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    position: relative;

    .nav-side-dropdown-bar-closed {
      width: 38px;
      height: 7px;
      border-radius: 5px;
      background-color: $main-grey;

      &:first-child {
        margin-top: 0;
      }
    }

    // &:hover {
    //   .nav-side-dropdown-bar-closed {
    //     background-color: $light-yellow;
    //   }
    // }

    &:active {
      transform: scale(0.9);
    }
  }
}

.nav-side-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #362000, $alpha: 0.8);
  position: fixed;
  z-index: 9;
}

.nav-side-dropdown-container {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  -webkit-tap-highlight-color: transparent;

  .nav-side-dropdown-icon {
    cursor: pointer;
    height: 30px;
    width: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    position: relative;

    .nav-side-dropdown-bar {
      width: 38px;
      height: 7px;
      border-radius: 5px;
      background-color: $main-grey;

      &:nth-child(even) {
        visibility: hidden;
      }

      &:first-child {
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        transition: transform 0.5s;
      }

      &:last-child {
        position: absolute;
        transform: rotate(-45deg);
        top: 10px;
        transition: transform 0.5s;
      }
    }

    // &:hover {
    //   .nav-side-dropdown-bar {
    //     background-color: $light-yellow;
    //   }
    // }

    &:active {
      transform: scale(0.9);
    }
  }
}

.nav-side-container {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  height: -webkit-calc(calc(var(--vh, 1vh) * 100));
  height: -moz-calc(calc(var(--vh, 1vh) * 100));
  height: expression(calc(var(--vh, 1vh) * 100));
  height: -o-calc(calc(var(--vh, 1vh) * 100));
  height: calc(var(--vh, 1vh) * 100);
  background-color: $main-yellow;
  position: fixed;
  z-index: 10;
  filter: drop-shadow(0 0 5px rgba($color: $dark-2-yellow, $alpha: 0.4));
  top: 0;
  left: 0;

  ul {
    height: 100vh;
    width: 200px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    @include custom-Roboto($main-grey, 1em, 500);
    display: flex;
  }

  li {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 200px;
      height: 60px;
      text-decoration-line: none;
      text-decoration-style: none;
      -moz-text-decoration-line: none;
      -moz-text-decoration-style: none;
      -webkit-text-decoration-line: none;
      -webkit-text-decoration-style: none;
      cursor: default;
      padding-left: 40px;
    }
  }

  #nav-line-1,
  #nav-line-2 {
    height: 2px;
    width: 150px;
    background-color: $light-yellow;
  }

  #nav-line-1 {
    margin: 10px 0 0 25px;
  }

  #nav-line-2 {
    margin: 0 0 10px 25px;
  }

  .li-text:link {
    @include custom-Roboto($main-grey, 1.5em, 500);
  }

  .li-text:visited {
    @include custom-Roboto($main-grey, 1.5em, 500);
  }

  .li-text:hover {
    //font-size: 1.7em;
    cursor: pointer;
  }

  .li-text:active {
    background-color: rgba($color: $light-yellow, $alpha: 0.3);
    font-size: 1.5em;
  }

  #li-img-side {
    height: 100px;
    margin: 60px 0 10px -15px;
    padding: 5px 5px;

    img {
      height: 100px;
      width: auto;
      cursor: pointer;
    }
  }

  .li-img {
    display: none;
  }

  .li-icon {
    display: flex;
    width: 180px;
    height: 60px;
    margin-left: 10px;

    a {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  svg {
    cursor: pointer;
    height: 35px;
    width: 35px;
    fill: $main-grey;
    // &:hover {
    //   transform: scale(1.15);
    // }
  }
}

//---- MEDIA QUERIES ----

@media only screen and (max-height: 701px) {
  .nav-side-container {
    ul {
      @include custom-Roboto($main-grey, 1em, 500);
    }

    li {
      height: 40px;

      a {
        height: 40px;
      }
    }

    #li-img-side {
      height: 60px;
      margin: 50px 0 10px 0px;
      padding: 5px 5px;

      img {
        height: 80px;
        width: auto;
        cursor: pointer;
      }
    }

    .li-text:link {
      @include custom-Roboto($main-grey, 1.3em, 500);
    }

    .li-text:visited {
      @include custom-Roboto($main-grey, 1.3em, 500);
    }

    // .li-text:hover {
    //   font-size: 1.4em;
    // }

    .li-text:active {
      font-size: 1.3em;
    }

    .li-icon {
      height: 40px;
    }
  }
}

@media only screen and (max-width: 361px) {
  .nav-side-container {
    ul {
      @include custom-Roboto($main-grey, 1.1em, 500);
    }

    li {
      height: 40px;

      a {
        height: 40px;
      }
    }

    .li-text:link {
      @include custom-Roboto($main-grey, 1.1em, 500);
    }

    .li-text:visited {
      @include custom-Roboto($main-grey, 1.1em, 500);
    }

    // .li-text:hover {
    //   font-size: 1.4em;
    // }

    .li-text:active {
      font-size: 1.1em;
    }

    .li-icon {
      height: 40px;
    }
  }
}

@media only screen and (max-width: 319px) and (max-height: 479px){
  .nav-side-dropdown-container {
    height: 50px;
    width: 160px;

    .nav-side-dropdown-icon {
      margin: 0px;

      .nav-side-dropdown-bar {
        width: 25px;
        height: 5px;
      }
    }
  }

  .nav-side-container {
    width: 160px;
    padding-top: 10px;

    ul {
      width: 160px;
      @include custom-Roboto($main-grey, 1em, 500);
    }

    li {
      width: 160px;
      height: 35px;

      a {
        width: 160px;
        height: 35px;
        padding-left: 40px;
      }
    }

    #nav-line-1,
    #nav-line-2 {
      height: 2px;
      width: 110px;
    }

    #nav-line-1 {
      display: none;
    }

    #nav-line-2 {
      margin: 0 0 20px 25px;
    }

    .li-text:link {
      @include custom-Roboto($main-grey, 1em, 500);
    }

    .li-text:visited {
      @include custom-Roboto($main-grey, 1em, 500);
    }

    // .li-text:hover {
    //   font-size: 1.1em;
    // }

    .li-text:active {
      font-size: 1em;
    }

    #li-img-side {
      display: none;
    }

    .li-icon {
      width: 140px;
      height: 60px;
      margin-left: 10px;
    }

    svg {
      height: 25px;
      width: 25px;
      // &:hover {
      //   transform: scale(1.05);
      // }
    }
  }
}
