@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;500&display=swap");
.nav-side-dropdown-container-closed {
  background-color: #F9BE7B;
  width: 100vw;
  height: 50px;
  position: fixed;
  transition: width 0.3s;
  z-index: 11;
  filter: drop-shadow(0 0 5px rgba(216, 153, 63, 0.3));
  display: flex;
  justify-content: flex-start;
  top: 0;
  left: 0;
}
.nav-side-dropdown-container-closed .nav-side-dropdown-icon-closed {
  cursor: pointer;
  height: 30px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  position: relative;
}
.nav-side-dropdown-container-closed .nav-side-dropdown-icon-closed .nav-side-dropdown-bar-closed {
  width: 38px;
  height: 7px;
  border-radius: 5px;
  background-color: #F8F8F8;
}
.nav-side-dropdown-container-closed .nav-side-dropdown-icon-closed .nav-side-dropdown-bar-closed:first-child {
  margin-top: 0;
}
.nav-side-dropdown-container-closed .nav-side-dropdown-icon-closed:active {
  transform: scale(0.9);
}

.nav-side-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(54, 32, 0, 0.8);
  position: fixed;
  z-index: 9;
}

.nav-side-dropdown-container {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  -webkit-tap-highlight-color: transparent;
}
.nav-side-dropdown-container .nav-side-dropdown-icon {
  cursor: pointer;
  height: 30px;
  width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  position: relative;
}
.nav-side-dropdown-container .nav-side-dropdown-icon .nav-side-dropdown-bar {
  width: 38px;
  height: 7px;
  border-radius: 5px;
  background-color: #F8F8F8;
}
.nav-side-dropdown-container .nav-side-dropdown-icon .nav-side-dropdown-bar:nth-child(even) {
  visibility: hidden;
}
.nav-side-dropdown-container .nav-side-dropdown-icon .nav-side-dropdown-bar:first-child {
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  transition: transform 0.5s;
}
.nav-side-dropdown-container .nav-side-dropdown-icon .nav-side-dropdown-bar:last-child {
  position: absolute;
  transform: rotate(-45deg);
  top: 10px;
  transition: transform 0.5s;
}
.nav-side-dropdown-container .nav-side-dropdown-icon:active {
  transform: scale(0.9);
}

.nav-side-container {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 100vh;
  height: expression(calc(var(--vh, 1vh) * 100));
  height: -o-calc(calc(var(--vh, 1vh) * 100));
  height: calc(var(--vh, 1vh) * 100);
  background-color: #F9BE7B;
  position: fixed;
  z-index: 10;
  filter: drop-shadow(0 0 5px rgba(216, 153, 63, 0.4));
  top: 0;
  left: 0;
}
.nav-side-container ul {
  height: 100vh;
  width: 200px;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #F8F8F8;
  display: flex;
}
.nav-side-container li {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-side-container li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 60px;
  text-decoration-line: none;
  text-decoration-style: none;
  -moz-text-decoration-line: none;
  -moz-text-decoration-style: none;
  -webkit-text-decoration-line: none;
  -webkit-text-decoration-style: none;
  cursor: default;
  padding-left: 40px;
}
.nav-side-container #nav-line-1,
.nav-side-container #nav-line-2 {
  height: 2px;
  width: 150px;
  background-color: #FDEDDD;
}
.nav-side-container #nav-line-1 {
  margin: 10px 0 0 25px;
}
.nav-side-container #nav-line-2 {
  margin: 0 0 10px 25px;
}
.nav-side-container .li-text:link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #F8F8F8;
}
.nav-side-container .li-text:visited {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #F8F8F8;
}
.nav-side-container .li-text:hover {
  cursor: pointer;
}
.nav-side-container .li-text:active {
  background-color: rgba(253, 237, 221, 0.3);
  font-size: 1.5em;
}
.nav-side-container #li-img-side {
  height: 100px;
  margin: 60px 0 10px -15px;
  padding: 5px 5px;
}
.nav-side-container #li-img-side img {
  height: 100px;
  width: auto;
  cursor: pointer;
}
.nav-side-container .li-img {
  display: none;
}
.nav-side-container .li-icon {
  display: flex;
  width: 180px;
  height: 60px;
  margin-left: 10px;
}
.nav-side-container .li-icon a {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-side-container svg {
  cursor: pointer;
  height: 35px;
  width: 35px;
  fill: #F8F8F8;
}

@media only screen and (max-height: 701px) {
  .nav-side-container ul {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #F8F8F8;
  }
  .nav-side-container li {
    height: 40px;
  }
  .nav-side-container li a {
    height: 40px;
  }
  .nav-side-container #li-img-side {
    height: 60px;
    margin: 50px 0 10px 0px;
    padding: 5px 5px;
  }
  .nav-side-container #li-img-side img {
    height: 80px;
    width: auto;
    cursor: pointer;
  }
  .nav-side-container .li-text:link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    color: #F8F8F8;
  }
  .nav-side-container .li-text:visited {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    color: #F8F8F8;
  }
  .nav-side-container .li-text:active {
    font-size: 1.3em;
  }
  .nav-side-container .li-icon {
    height: 40px;
  }
}
@media only screen and (max-width: 361px) {
  .nav-side-container ul {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #F8F8F8;
  }
  .nav-side-container li {
    height: 40px;
  }
  .nav-side-container li a {
    height: 40px;
  }
  .nav-side-container .li-text:link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #F8F8F8;
  }
  .nav-side-container .li-text:visited {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    color: #F8F8F8;
  }
  .nav-side-container .li-text:active {
    font-size: 1.1em;
  }
  .nav-side-container .li-icon {
    height: 40px;
  }
}
@media only screen and (max-width: 319px) and (max-height: 479px) {
  .nav-side-dropdown-container {
    height: 50px;
    width: 160px;
  }
  .nav-side-dropdown-container .nav-side-dropdown-icon {
    margin: 0px;
  }
  .nav-side-dropdown-container .nav-side-dropdown-icon .nav-side-dropdown-bar {
    width: 25px;
    height: 5px;
  }

  .nav-side-container {
    width: 160px;
    padding-top: 10px;
  }
  .nav-side-container ul {
    width: 160px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #F8F8F8;
  }
  .nav-side-container li {
    width: 160px;
    height: 35px;
  }
  .nav-side-container li a {
    width: 160px;
    height: 35px;
    padding-left: 40px;
  }
  .nav-side-container #nav-line-1,
.nav-side-container #nav-line-2 {
    height: 2px;
    width: 110px;
  }
  .nav-side-container #nav-line-1 {
    display: none;
  }
  .nav-side-container #nav-line-2 {
    margin: 0 0 20px 25px;
  }
  .nav-side-container .li-text:link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #F8F8F8;
  }
  .nav-side-container .li-text:visited {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #F8F8F8;
  }
  .nav-side-container .li-text:active {
    font-size: 1em;
  }
  .nav-side-container #li-img-side {
    display: none;
  }
  .nav-side-container .li-icon {
    width: 140px;
    height: 60px;
    margin-left: 10px;
  }
  .nav-side-container svg {
    height: 25px;
    width: 25px;
  }
}/*# sourceMappingURL=NavSideBar.css.map */